<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NoticiasRG</title>
</head>

<body>
  <!-- Viejas Card Sobre el tema
   <div class="container text-center">
    <div class="row">
      <div class="col"> {{this.noticias1.title}}</div>
      <div class="row">
        <div class="col-md-4 nopadding" id="img" >  <img [src] = "noticias1.media" class="card-img-top" alt="Tu-NoticiasRG"></div>
      </div>
      <div class="row">
        <div class="col" id="des"> {{this.noticias1.summary}}</div>
      </div>
    </div>
  </div> -->
  <section class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
          <div class="card text-white card-has-bg click-col"
            style="background-image:url('{{ noticias1.media }}');height: 500px; background-size: cover;">
            <img class="card-img d-none" [src]="noticias1.media" class="card-img-top" alt="Tu-NoticiasRG">
            <div class="card-img-overlay d-flex flex-column">
              <div class="card-body">
                <small class="card-meta mb-2">Categoria</small>
                <h4 class="card-title mt-0 "><a class="text-white" herf="#">{{this.noticias1.title}}</a></h4>
                <small><i class="far fa-clock"></i> October 15, 2020</small>
              </div>
              <div class="card-footer">
                <div class="media">
                  <img class="mr-3 rounded-circle img-circle" src="assets/perfil.jpg" alt="Tu-NoticiasRG" style="max-width:50px">
                  <div class="media-body">
                    <h6 class="my-0 text-white d-block">Rafael Gomez</h6>
                    <small>Web Developer</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
